        * {
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
        }
        
        .thumb {
            padding-bottom: 20px;
        }
        
        .content {
            margin: 0;
            text-align: center;
            padding: 20px;
        }
        /* form {
            background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
            background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
            background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
            margin: 50px;
            position: relative;
            width: 550px;
            height: 450px;
            font-family: Tahoma, Geneva, sans-serif;
            font-size: 14px;
            font-style: italic;
            line-height: 24px;
            font-weight: bold;
            color: #09C;
            text-decoration: none;
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #999;
            border: inset 1px solid #333;
            -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        } */
        /* .form-group {
            padding: 5px;
            margin: 5px;
        }
         */
        /* input {
            width: 375px;
            display: block;
            border: 1px solid #999;
            height: 25px;
            -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        }
        
        textarea#feedback {
            width: 375px;
            height: 150px;
            display: block;
        } */
        /* button {
            width: 100px;
            position: absolute;
            right: 20px;
            bottom: 30px;
            background: #09C;
            color: #fff;
            font-family: Tahoma, Geneva, sans-serif;
            height: 30px;
            border-radius: 15px;
            border: 1p solid #999;
        } */
        
        button {
            width: 100px;
            background: #09C;
            color: #fff;
            border-radius: 15px;
            border: 1p solid #999;
        }
        
        input.button:hover {
            background: #fff;
            color: #09C;
        }
        
        textarea:focus,
        input:focus {
            border: 1px solid #09C;
        }
        
        .item {
            width: 100%;
            height: 40%;
        }
        
        #myCarousel {
            margin: 5px;
            margin-top: 0;
        }
        
        #footer {
            background-color: gray;
        }
        
        .footerdata {
            margin: 10px;
            padding: 10px;
        }
        
        #form1 {
            margin: 30px;
            padding: 20px;
        }
        
        .form-group {
            padding: 5px;
            margin: 5px;
        }
        
        #table1 {
            margin-top: 70px;
            padding: 10px;
        }
        
        #table1 th {
            color: #B8860B;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        #Report_btn {
            margin-top: 50px;
            float: left;
        }
        
        .pie1 {
            background-color: #09C;
            float: center;
        }
        
        .blink_me {
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-name: blinker;
            -moz-animation-duration: 1s;
            -moz-animation-timing-function: linear;
            -moz-animation-iteration-count: infinite;
            animation-name: blinker;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            color: #db0813;
            font-size: 20px;
        }
        
        @-moz-keyframes blinker {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        @-webkit-keyframes blinker {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }
        
        @keyframes blinker {
            0% {
                opacity: 1.0;
            }
            50% {
                opacity: 0.0;
            }
            100% {
                opacity: 1.0;
            }
        }