<!-- Page Content -->
<div class="container" ng-controller="mainCategories">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Category Gallery</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 thumb" ng-repeat="mainCate in mainCat">
                <div class="thumbnail">
                    <div>
                        <img class="img-responsive" src={{mainCate.imageUrl}} alt="" style="padding:5px;width:350px;height:250px;margin-bottom:0;">
                        <a href="#subCategories/{{mainCate.mainCatName}}">
                            <h1><button class="btn btn-md btn-primary">{{mainCate.mainCatName}}</button> </h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

</div>
<!-- /.container -->