<div class="container-fluid" ng-controller="reportcontroller">
    <div class="row">
        <div class="col-lg-6 col-xs-12 " id="pie1">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
            </canvas>
        </div>
        <div class="col-md-12 col-xs-12 col-lg-6">
            <div class="row">
                <h1>Well Satisfied Response:<label>{{positive}}</label></h1>
                <h1>Satisfied Response:<label>{{average}}</label></h1>
                <h1>Unsatisfied Response:<label>{{negative}}</label></h1>

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover" id="list">
            <thead>
                <tr>
                    <th>Mobile Number</th>
                    <th>Basic Cost</th>
                    <th>ROI</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody id="myTable" ng-repeat="data in movie">
                <!-- <tr>
                    <td>{{$index+1}}</td>
                    <td>{{data.mobile}}</td>
                    <td>{{data.basicost}}</td>
                    <td>{{data.roi}}</td>
                    <td>{{data.comment}}</td>

                </tr> -->

            </tbody>
        </table>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination" id="myPager"></ul>
    </div>
</div>