<div class="container" ng-controller="feedback">

    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        <div style="float:right">

            <div class="row ">
                <button id="Report_btn" class="btn btn-primary btn-sm" ng-click="addReport()">Reports</button>
            </div>
        </div>
        <form class="form-horizontal" name="userForm" ng-submit="addfeedback()" id="form1">
            <fieldset>
                <div>

                    <legend>Give your feedback</legend>

                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.mobilenumber.$invalid && !userForm.mobilenumber.$pristine }">
                    <label for="inputnumber" class=" control-label">Mobile number</label>
                    <div>
                        <input type="number" class="form-control" name="mobilenumber" id="inputnumber" placeholder="Enter your mobile number" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" minlength="0" maxlength="10" ng-model="fb.mobile" required>
                        <span ng-show="userForm.mobilenumber.$touched && userForm.mobilenumber.$invalid">Mobile number is required.</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.cost.$invalid && !userForm.cost.$pristine }">
                    <label for="inputpercentage" class=" control-label">Basic cost</label>
                    <div>
                        <input type="number" name="cost" class="form-control" id="inputpercentage" minlength="0" maxlength="3" placeholder="Enter basic cost" ng-model="fb.basicost" required>
                        <span ng-show="userForm.cost.$touched && userForm.cost.$invalid">amount is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.roi.$invalid && !userForm.roi.$pristine }">
                    <label for="inputroi" class=" control-label">ROI</label>
                    <div>
                        <input type="number" name="roi" class="form-control" id="inputroi" placeholder="Enter ROI" ng-model="fb.roi" required>
                        <span ng-show="userForm.roi.$touched && userForm.roi.$invalid">enter roi is required.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : userForm.comm.$invalid && replySubmitted  }">
                    <label for="comm" class=" control-label">Comment</label>
                    <div>
                        <textarea name="comm" class="form-control" rows="3" id="comment" ng-model="fb.comment" required></textarea>
                        <span ng-show="userForm.comm.$touched && userForm.comm.$invalid">comment is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <div class="clearfix">

                            <button type="submit" class="btn btn-primary" class="signupbtn" class="col-lg-offset-1">Submit</button>
                            <button type="reset" class="btn btn-default" class="cancelbtn">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>