<div class="container" ng-controller="subCategories">
    <div class="row">

        <div ng-repeat="subCate in subCat">
            <div class="thumbnail col-lg-3 col-md-3 col-sm-12 col-xs-12 thumb">
                <img class="img-rounded" src={{subCate.imageUrl}} style="padding:5px;width:350px;height:250px;margin-bottom:0;" />

                <div class="content">
                    <h2>{{subCate.subCatName|uppercase}}</h2>
                    <p>{{subCate.description}}</p>
                    <a href="#StartPoll/{{subCate.subCatName}}"><button class="btn btn-sm btn-primary">Review</button></a>
                    <!-- <span class="blink_me">30% off</span> -->
                </div>
            </div>
        </div>

    </div>
</div>